

/*@import "bootstrap-sprockets";*/
/*@import "bootstrap";*/

body {
  background: #eee;
}

.review_title {
  margin: 0 0 20px 0;
}
.reviews {
  padding: 15px 0;
  border-bottom: 1px solid #EAEAEA;
  .star-rating {
    padding-bottom: 8px;
  }
}

.thumbnail {
  max-width: 100%;
}
img {
  max-width: 20%;
}